target/classes/xyz/elnaxho/sneakgrow/ConfigManager.class
target/classes/xyz/elnaxho/sneakgrow/GrowCommand.class
target/classes/xyz/elnaxho/sneakgrow/GrowListener.class
target/classes/xyz/elnaxho/sneakgrow/Main.class
target/maven-archiver/pom.properties
